# Dossiers de build et de release
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Autres fichiers et dossiers
.settings/

# Exécutables
*.swf
*.air
*.ipa
*.apk

# Fichiers de projet, c'est-à-dire `.project`, `.actionScriptProperties` et `.flexProperties`
# NE DOIVENT PAS être exclus car ils contiennent des paramètres de compilation et d'autres informations importantes pour Eclipse / Flash Builder.
